# Used to tag the ports with their usage, based on USB interface numbers.
# This can remove the need to probe at all, but generally it's used to
# ensure that the data/modem port is identified

ACTION!="add", GOTO="vmc_huawei_end"

SUBSYSTEMS=="usb", ATTRS{bInterfaceNumber}=="?*", \
   ENV{.MM_USBIFNUM}="$attr{bInterfaceNumber}"

# Tag the interface with type
SUBSYSTEM!="tty", GOTO="vmc_huawei_tty_end"

# Generic 0x1001
ATTRS{idVendor}=="12d1", ATTRS{idProduct}=="1001", ENV{.MM_USBIFNUM}=="00", ENV{ID_MM_PORT_TYPE_MODEM}="1"
ATTRS{idVendor}=="12d1", ATTRS{idProduct}=="1001", ENV{.MM_USBIFNUM}=="02", ENV{ID_MM_PORT_TYPE_AUX}="1"

# Generic 0x1003
ATTRS{idVendor}=="12d1", ATTRS{idProduct}=="1003", ENV{.MM_USBIFNUM}=="00", ENV{ID_MM_PORT_TYPE_MODEM}="1"
ATTRS{idVendor}=="12d1", ATTRS{idProduct}=="1003", ENV{.MM_USBIFNUM}=="01", ENV{ID_MM_PORT_TYPE_AUX}="1"

# E1692
ATTRS{idVendor}=="12d1", ATTRS{idProduct}=="140c", ENV{.MM_USBIFNUM}=="00", ENV{ID_MM_PORT_TYPE_MODEM}="1"
ATTRS{idVendor}=="12d1", ATTRS{idProduct}=="140c", ENV{.MM_USBIFNUM}=="03", ENV{ID_MM_PORT_TYPE_AUX}="1"

# E510
ATTRS{idVendor}=="12d1", ATTRS{idProduct}=="1411", ENV{.MM_USBIFNUM}=="00", ENV{ID_MM_PORT_TYPE_MODEM}="1"
ATTRS{idVendor}=="12d1", ATTRS{idProduct}=="1411", ENV{.MM_USBIFNUM}=="02", ENV{ID_MM_PORT_TYPE_AUX}="1"

# K4505
ATTRS{idVendor}=="12d1", ATTRS{idProduct}=="1464", ENV{.MM_USBIFNUM}=="00", ENV{ID_MM_PORT_TYPE_MODEM}="1"
ATTRS{idVendor}=="12d1", ATTRS{idProduct}=="1464", ENV{.MM_USBIFNUM}=="03", ENV{ID_MM_PORT_TYPE_AUX}="1"

# K3765
ATTRS{idVendor}=="12d1", ATTRS{idProduct}=="1465", ENV{.MM_USBIFNUM}=="00", ENV{ID_MM_PORT_TYPE_MODEM}="1"
ATTRS{idVendor}=="12d1", ATTRS{idProduct}=="1465", ENV{.MM_USBIFNUM}=="03", ENV{ID_MM_PORT_TYPE_AUX}="1"

LABEL="vmc_huawei_tty_end"

LABEL="vmc_huawei_end"
