# Used to tag the ports with their usage, based on USB interface numbers.
# This can remove the need to probe at all, but generally it's used to
# ensure that the data/modem port is identified

ACTION!="add", GOTO="vmc_novatel_end"

SUBSYSTEMS=="usb", ATTRS{bInterfaceNumber}=="?*", \
   ENV{.MM_USBIFNUM}="$attr{bInterfaceNumber}"

# Tag the interface with type
SUBSYSTEM!="tty", GOTO="vmc_novatel_tty_end"

# U740
ATTRS{idVendor}=="1410", ATTRS{idProduct}=="1400", ENV{.MM_USBIFNUM}=="00", ENV{ID_MM_PORT_TYPE_MODEM}="1"
ATTRS{idVendor}=="1410", ATTRS{idProduct}=="1400", ENV{.MM_USBIFNUM}=="01", ENV{ID_MM_PORT_TYPE_AUX}="1"

# XU870
ATTRS{idVendor}=="1410", ATTRS{idProduct}=="1430", ENV{.MM_USBIFNUM}=="00", ENV{ID_MM_PORT_TYPE_MODEM}="1"
ATTRS{idVendor}=="1410", ATTRS{idProduct}=="1430", ENV{.MM_USBIFNUM}=="01", ENV{ID_MM_PORT_TYPE_AUX}="1"

# X950D
ATTRS{idVendor}=="1410", ATTRS{idProduct}=="1450", ENV{.MM_USBIFNUM}=="00", ENV{ID_MM_PORT_TYPE_MODEM}="1"
ATTRS{idVendor}=="1410", ATTRS{idProduct}=="1450", ENV{.MM_USBIFNUM}=="01", ENV{ID_MM_PORT_TYPE_AUX}="1"

# EU870 module
# Needs confirmation
#ATTRS{idVendor}=="1410", ATTRS{idProduct}=="2420", ENV{.MM_USBIFNUM}=="00", ENV{ID_MM_PORT_TYPE_MODEM}="1"
#ATTRS{idVendor}=="1410", ATTRS{idProduct}=="2420", ENV{.MM_USBIFNUM}=="01", ENV{ID_MM_PORT_TYPE_AUX}="1"

# MC950D
ATTRS{idVendor}=="1410", ATTRS{idProduct}=="4400", ENV{.MM_USBIFNUM}=="00", ENV{ID_MM_PORT_TYPE_MODEM}="1"
ATTRS{idVendor}=="1410", ATTRS{idProduct}=="4400", ENV{.MM_USBIFNUM}=="01", ENV{ID_MM_PORT_TYPE_AUX}="1"

# Generic PID (MiFi2352, MC990D)
ATTRS{idVendor}=="1410", ATTRS{idProduct}=="7001", ENV{.MM_USBIFNUM}=="00", ENV{ID_MM_PORT_TYPE_MODEM}="1"
ATTRS{idVendor}=="1410", ATTRS{idProduct}=="7001", ENV{.MM_USBIFNUM}=="01", ENV{ID_MM_PORT_TYPE_AUX}="1"

# MiFi2352 (Vodafone only PID)
ATTRS{idVendor}=="1410", ATTRS{idProduct}=="7003", ENV{.MM_USBIFNUM}=="00", ENV{ID_MM_PORT_TYPE_MODEM}="1"
ATTRS{idVendor}=="1410", ATTRS{idProduct}=="7003", ENV{.MM_USBIFNUM}=="01", ENV{ID_MM_PORT_TYPE_AUX}="1"

# Dell D5520 module (rebranded Novatel Expedite EU870)
# Needs confirmation
#ATTRS{idVendor}=="413c", ATTRS{idProduct}=="8137", ENV{.MM_USBIFNUM}=="00", ENV{ID_MM_PORT_TYPE_MODEM}="1"
#ATTRS{idVendor}=="413c", ATTRS{idProduct}=="8137", ENV{.MM_USBIFNUM}=="01", ENV{ID_MM_PORT_TYPE_AUX}="1"

LABEL="vmc_novatel_tty_end"

LABEL="vmc_novatel_end"
