# Used to tag the ports with their usage, based on USB interface numbers.
# This can remove the need to probe at all, but generally it's used to
# ensure that the data/modem port is identified

ACTION!="add|change", GOTO="wader_huawei_end"
SUBSYSTEM!="tty", GOTO="wader_huawei_end"

SUBSYSTEMS=="usb", ATTRS{idVendor}=="12d1", GOTO="wader_huawei_vendormatch"
GOTO="wader_huawei_end"

LABEL="wader_huawei_vendormatch"
SUBSYSTEMS=="usb", ATTRS{idProduct}=="?*", ENV{.MM_PRODUCT}="$attr{idProduct}"
SUBSYSTEMS=="usb", ATTRS{bNumInterfaces}=="?*", ENV{.MM_USBNUMINT}="$attr{bNumInterfaces}"

# Generic 0x1001
ENV{.MM_PRODUCT}=="1001", ATTRS{bInterfaceNumber}=="00", ENV{ID_MM_PORT_TYPE_MODEM}="1"
ENV{.MM_PRODUCT}=="1001", ATTRS{bInterfaceNumber}=="02", ENV{ID_MM_PORT_TYPE_AUX}="1"

# Generic 0x1003
ENV{.MM_PRODUCT}=="1003", ATTRS{bInterfaceNumber}=="00", ENV{ID_MM_PORT_TYPE_MODEM}="1"
ENV{.MM_PRODUCT}=="1003", ATTRS{bInterfaceNumber}=="01", ENV{ID_MM_PORT_TYPE_AUX}="1"

# E1692
ENV{.MM_PRODUCT}=="140c", ATTRS{bInterfaceNumber}=="00", ENV{ID_MM_PORT_TYPE_MODEM}="1"
ENV{.MM_PRODUCT}=="140c", ATTRS{bInterfaceNumber}=="03", ENV{ID_MM_PORT_TYPE_AUX}="1"

# E510
ENV{.MM_PRODUCT}=="1411", ATTRS{bInterfaceNumber}=="00", ENV{ID_MM_PORT_TYPE_MODEM}="1"
ENV{.MM_PRODUCT}=="1411", ATTRS{bInterfaceNumber}=="02", ENV{ID_MM_PORT_TYPE_AUX}="1"

# E1752
ENV{.MM_PRODUCT}=="141b", ATTRS{bInterfaceNumber}=="00", ENV{ID_MM_PORT_TYPE_MODEM}="1"
ENV{.MM_PRODUCT}=="141b", ATTRS{bInterfaceNumber}=="01", ENV{ID_MM_PORT_TYPE_AUX}="1"

# Generic 0x1436 (so far seen E173, E1750)
ENV{.MM_PRODUCT}=="1436", ATTRS{bInterfaceNumber}=="00", ENV{ID_MM_PORT_TYPE_MODEM}="1"
ENV{.MM_PRODUCT}=="1436", ATTRS{bInterfaceNumber}=="04", ENV{ID_MM_PORT_TYPE_AUX}="1"

# K4505
ENV{.MM_PRODUCT}=="1464", ATTRS{bInterfaceNumber}=="00", ENV{ID_MM_PORT_TYPE_MODEM}="1"
ENV{.MM_PRODUCT}=="1464", ENV{.MM_USBNUMINT}==" 6", ATTRS{bInterfaceNumber}=="03", ENV{ID_MM_PORT_TYPE_AUX}="1"
ENV{.MM_PRODUCT}=="1464", ENV{.MM_USBNUMINT}==" 7", ATTRS{bInterfaceNumber}=="04", ENV{ID_MM_PORT_TYPE_AUX}="1"

# K3765
ENV{.MM_PRODUCT}=="1465", ATTRS{bInterfaceNumber}=="00", ENV{ID_MM_PORT_TYPE_MODEM}="1"
ENV{.MM_PRODUCT}=="1465", ENV{.MM_USBNUMINT}==" 6", ATTRS{bInterfaceNumber}=="03", ENV{ID_MM_PORT_TYPE_AUX}="1"
ENV{.MM_PRODUCT}=="1465", ENV{.MM_USBNUMINT}==" 7", ATTRS{bInterfaceNumber}=="04", ENV{ID_MM_PORT_TYPE_AUX}="1"

# E173
ENV{.MM_PRODUCT}=="14a5", ATTRS{bInterfaceNumber}=="00", ENV{ID_MM_PORT_TYPE_MODEM}="1"
ENV{.MM_PRODUCT}=="14a5", ATTRS{bInterfaceNumber}=="03", ENV{ID_MM_PORT_TYPE_AUX}="1"

# E1820
ENV{.MM_PRODUCT}=="14ac", ATTRS{bInterfaceNumber}=="00", ENV{ID_MM_PORT_TYPE_MODEM}="1"
ENV{.MM_PRODUCT}=="14ac", ATTRS{bInterfaceNumber}=="04", ENV{ID_MM_PORT_TYPE_AUX}="1"

# K3806 (breaks convention on ordering, but confirmed)
ENV{.MM_PRODUCT}=="14ae", ATTRS{bInterfaceNumber}=="00", ENV{ID_MM_PORT_TYPE_AUX}="1"
ENV{.MM_PRODUCT}=="14ae", ATTRS{bInterfaceNumber}=="02", ENV{ID_MM_PORT_TYPE_MODEM}="1"

# K4605
ENV{.MM_PRODUCT}=="14c6", ATTRS{bInterfaceNumber}=="00", ENV{ID_MM_PORT_TYPE_MODEM}="1"
ENV{.MM_PRODUCT}=="14c6", ENV{.MM_USBNUMINT}==" 6", ATTRS{bInterfaceNumber}=="03", ENV{ID_MM_PORT_TYPE_AUX}="1"
ENV{.MM_PRODUCT}=="14c6", ENV{.MM_USBNUMINT}==" 7", ATTRS{bInterfaceNumber}=="04", ENV{ID_MM_PORT_TYPE_AUX}="1"

# K3770
ENV{.MM_PRODUCT}=="14c9", ATTRS{bInterfaceNumber}=="00", ENV{ID_MM_PORT_TYPE_MODEM}="1"
ENV{.MM_PRODUCT}=="14c9", ATTRS{bInterfaceNumber}=="03", ENV{ID_MM_PORT_TYPE_AUX}="1"

# K3771
ENV{.MM_PRODUCT}=="14ca", ATTRS{bInterfaceNumber}=="00", ENV{ID_MM_PORT_TYPE_MODEM}="1"
ENV{.MM_PRODUCT}=="14ca", ATTRS{bInterfaceNumber}=="03", ENV{ID_MM_PORT_TYPE_AUX}="1"

# K4510
ENV{.MM_PRODUCT}=="14cb", ATTRS{bInterfaceNumber}=="00", ENV{ID_MM_PORT_TYPE_MODEM}="1"
ENV{.MM_PRODUCT}=="14cb", ATTRS{bInterfaceNumber}=="04", ENV{ID_MM_PORT_TYPE_AUX}="1"

# K4511
ENV{.MM_PRODUCT}=="14cc", ATTRS{bInterfaceNumber}=="00", ENV{ID_MM_PORT_TYPE_MODEM}="1"
ENV{.MM_PRODUCT}=="14cc", ATTRS{bInterfaceNumber}=="04", ENV{ID_MM_PORT_TYPE_AUX}="1"

LABEL="wader_huawei_end"
