# Used to tag the ports with their usage, based on USB interface numbers.
# This can remove the need to probe at all, but generally it's used to
# ensure that the data/modem port is identified

ACTION!="add|change", GOTO="wader_longcheer_end"
SUBSYSTEM!="tty", GOTO="wader_longcheer_end"

SUBSYSTEMS=="usb", ATTRS{idVendor}=="1c9e", GOTO="wader_longcheer_vendormatch"
GOTO="wader_longcheer_end"

LABEL="wader_longcheer_vendormatch"
SUBSYSTEMS=="usb", ATTRS{idProduct}=="?*", ENV{.MM_PRODUCT}="$attr{idProduct}"

# Badged as "4GSystems XSStick P10"
ENV{.MM_PRODUCT}=="9603", ATTRS{bInterfaceNumber}=="02", ENV{ID_MM_PORT_TYPE_MODEM}="1"
ENV{.MM_PRODUCT}=="9603", ATTRS{bInterfaceNumber}=="01", ENV{ID_MM_PORT_TYPE_AUX}="1"

LABEL="wader_longcheer_end"
