# Used to tag the ports with their usage, based on USB interface numbers.
# This can remove the need to probe at all, but generally it's used to
# ensure that the data/modem port is identified

ACTION!="add|change", GOTO="wader_novatel_end"
SUBSYSTEM!="tty", GOTO="wader_novatel_end"

SUBSYSTEMS=="usb", ATTRS{idVendor}=="1410", GOTO="wader_novatel_vendormatch"
GOTO="wader_novatel_end"

LABEL="wader_novatel_vendormatch"
SUBSYSTEMS=="usb", ATTRS{idProduct}=="?*", ENV{.MM_PRODUCT}="$attr{idProduct}"

# U740
ENV{.MM_PRODUCT}=="1400", ATTRS{bInterfaceNumber}=="00", ENV{ID_MM_PORT_TYPE_MODEM}="1"
ENV{.MM_PRODUCT}=="1400", ATTRS{bInterfaceNumber}=="01", ENV{ID_MM_PORT_TYPE_AUX}="1"

# XU870
ENV{.MM_PRODUCT}=="1430", ATTRS{bInterfaceNumber}=="00", ENV{ID_MM_PORT_TYPE_MODEM}="1"
ENV{.MM_PRODUCT}=="1430", ATTRS{bInterfaceNumber}=="01", ENV{ID_MM_PORT_TYPE_AUX}="1"

# X950D
ENV{.MM_PRODUCT}=="1450", ATTRS{bInterfaceNumber}=="00", ENV{ID_MM_PORT_TYPE_MODEM}="1"
ENV{.MM_PRODUCT}=="1450", ATTRS{bInterfaceNumber}=="01", ENV{ID_MM_PORT_TYPE_AUX}="1"

# EU870 module
# Needs confirmation
ENV{.MM_PRODUCT}=="2420", ATTRS{bInterfaceNumber}=="00", ENV{ID_MM_PORT_TYPE_MODEM}="1"
ENV{.MM_PRODUCT}=="2420", ATTRS{bInterfaceNumber}=="01", ENV{ID_MM_PORT_TYPE_AUX}="1"

# MC950D
ENV{.MM_PRODUCT}=="4400", ATTRS{bInterfaceNumber}=="00", ENV{ID_MM_PORT_TYPE_MODEM}="1"
ENV{.MM_PRODUCT}=="4400", ATTRS{bInterfaceNumber}=="01", ENV{ID_MM_PORT_TYPE_AUX}="1"

# Generic PID (MiFi2352, MC990D)
ENV{.MM_PRODUCT}=="7001", ATTRS{bInterfaceNumber}=="00", ENV{ID_MM_PORT_TYPE_MODEM}="1"
ENV{.MM_PRODUCT}=="7001", ATTRS{bInterfaceNumber}=="01", ENV{ID_MM_PORT_TYPE_AUX}="1"

# MiFi2352 (Vodafone only PID)
ENV{.MM_PRODUCT}=="7003", ATTRS{bInterfaceNumber}=="00", ENV{ID_MM_PORT_TYPE_MODEM}="1"
ENV{.MM_PRODUCT}=="7003", ATTRS{bInterfaceNumber}=="01", ENV{ID_MM_PORT_TYPE_AUX}="1"

LABEL="wader_novatel_end"
