# Used to tag the ports with their usage, based on USB interface numbers.
# This can remove the need to probe at all, but generally it's used to
# ensure that the data/modem port is identified

ACTION!="add", GOTO="wader_huawei_end"

SUBSYSTEMS=="usb", ATTRS{bInterfaceNumber}=="?*", \
   ENV{.MM_USBIFNUM}="$attr{bInterfaceNumber}"

SUBSYSTEMS=="usb", ATTRS{bNumInterfaces}=="?*", \
   ENV{.MM_USBNUMIFS}="$attr{bNumInterfaces}"

# Tag the interface with type
SUBSYSTEM!="tty", GOTO="wader_huawei_tty_end"

# Generic 0x1001
ATTRS{idVendor}=="12d1", ATTRS{idProduct}=="1001", ENV{.MM_USBIFNUM}=="00", ENV{ID_MM_PORT_TYPE_MODEM}="1"
ATTRS{idVendor}=="12d1", ATTRS{idProduct}=="1001", ENV{.MM_USBIFNUM}=="02", ENV{ID_MM_PORT_TYPE_AUX}="1"

# Generic 0x1003
ATTRS{idVendor}=="12d1", ATTRS{idProduct}=="1003", ENV{.MM_USBIFNUM}=="00", ENV{ID_MM_PORT_TYPE_MODEM}="1"
ATTRS{idVendor}=="12d1", ATTRS{idProduct}=="1003", ENV{.MM_USBIFNUM}=="01", ENV{ID_MM_PORT_TYPE_AUX}="1"

# E1692
ATTRS{idVendor}=="12d1", ATTRS{idProduct}=="140c", ENV{.MM_USBIFNUM}=="00", ENV{ID_MM_PORT_TYPE_MODEM}="1"
ATTRS{idVendor}=="12d1", ATTRS{idProduct}=="140c", ENV{.MM_USBIFNUM}=="03", ENV{ID_MM_PORT_TYPE_AUX}="1"

# E510
ATTRS{idVendor}=="12d1", ATTRS{idProduct}=="1411", ENV{.MM_USBIFNUM}=="00", ENV{ID_MM_PORT_TYPE_MODEM}="1"
ATTRS{idVendor}=="12d1", ATTRS{idProduct}=="1411", ENV{.MM_USBIFNUM}=="02", ENV{ID_MM_PORT_TYPE_AUX}="1"

# E1752
ATTRS{idVendor}=="12d1", ATTRS{idProduct}=="141b", ENV{.MM_USBIFNUM}=="00", ENV{ID_MM_PORT_TYPE_MODEM}="1"
ATTRS{idVendor}=="12d1", ATTRS{idProduct}=="141b", ENV{.MM_USBIFNUM}=="01", ENV{ID_MM_PORT_TYPE_AUX}="1"

# Generic 0x1436 (so far seen E173, E1750)
ATTRS{idVendor}=="12d1", ATTRS{idProduct}=="1436", ENV{.MM_USBIFNUM}=="00", ENV{ID_MM_PORT_TYPE_MODEM}="1"
ATTRS{idVendor}=="12d1", ATTRS{idProduct}=="1436", ENV{.MM_USBIFNUM}=="04", ENV{ID_MM_PORT_TYPE_AUX}="1"

# K4505
ATTRS{idVendor}=="12d1", ATTRS{idProduct}=="1464", ENV{.MM_USBIFNUM}=="00", ENV{ID_MM_PORT_TYPE_MODEM}="1"
ATTRS{idVendor}=="12d1", ATTRS{idProduct}=="1464", ENV{.MM_USBIFNUM}=="03", ENV{.MM_USBNUMIFS}==" 6", ENV{ID_MM_PORT_TYPE_AUX}="1"
ATTRS{idVendor}=="12d1", ATTRS{idProduct}=="1464", ENV{.MM_USBIFNUM}=="04", ENV{.MM_USBNUMIFS}==" 7", ENV{ID_MM_PORT_TYPE_AUX}="1"

# K3765
ATTRS{idVendor}=="12d1", ATTRS{idProduct}=="1465", ENV{.MM_USBIFNUM}=="00", ENV{ID_MM_PORT_TYPE_MODEM}="1"
ATTRS{idVendor}=="12d1", ATTRS{idProduct}=="1465", ENV{.MM_USBIFNUM}=="03", ENV{.MM_USBNUMIFS}==" 6", ENV{ID_MM_PORT_TYPE_AUX}="1"
ATTRS{idVendor}=="12d1", ATTRS{idProduct}=="1465", ENV{.MM_USBIFNUM}=="04", ENV{.MM_USBNUMIFS}==" 7", ENV{ID_MM_PORT_TYPE_AUX}="1"

# E173
ATTRS{idVendor}=="12d1", ATTRS{idProduct}=="14a5", ENV{.MM_USBIFNUM}=="00", ENV{ID_MM_PORT_TYPE_MODEM}="1"
ATTRS{idVendor}=="12d1", ATTRS{idProduct}=="14a5", ENV{.MM_USBIFNUM}=="03", ENV{ID_MM_PORT_TYPE_AUX}="1"

# E1820
ATTRS{idVendor}=="12d1", ATTRS{idProduct}=="14ac", ENV{.MM_USBIFNUM}=="00", ENV{ID_MM_PORT_TYPE_MODEM}="1"
ATTRS{idVendor}=="12d1", ATTRS{idProduct}=="14ac", ENV{.MM_USBIFNUM}=="04", ENV{ID_MM_PORT_TYPE_AUX}="1"

# K3806 (breaks convention on ordering, but confirmed)
ATTRS{idVendor}=="12d1", ATTRS{idProduct}=="14ae", ENV{.MM_USBIFNUM}=="00", ENV{ID_MM_PORT_TYPE_AUX}="1"
ATTRS{idVendor}=="12d1", ATTRS{idProduct}=="14ae", ENV{.MM_USBIFNUM}=="02", ENV{ID_MM_PORT_TYPE_MODEM}="1"

# K4605
ATTRS{idVendor}=="12d1", ATTRS{idProduct}=="14c6", ENV{.MM_USBIFNUM}=="00", ENV{ID_MM_PORT_TYPE_MODEM}="1"
ATTRS{idVendor}=="12d1", ATTRS{idProduct}=="14c6", ENV{.MM_USBIFNUM}=="03", ENV{.MM_USBNUMIFS}==" 6", ENV{ID_MM_PORT_TYPE_AUX}="1"
ATTRS{idVendor}=="12d1", ATTRS{idProduct}=="14c6", ENV{.MM_USBIFNUM}=="04", ENV{.MM_USBNUMIFS}==" 7", ENV{ID_MM_PORT_TYPE_AUX}="1"

# K3770
ATTRS{idVendor}=="12d1", ATTRS{idProduct}=="14c9", ENV{.MM_USBIFNUM}=="00", ENV{ID_MM_PORT_TYPE_MODEM}="1"
ATTRS{idVendor}=="12d1", ATTRS{idProduct}=="14c9", ENV{.MM_USBIFNUM}=="03", ENV{ID_MM_PORT_TYPE_AUX}="1"

# K3771
ATTRS{idVendor}=="12d1", ATTRS{idProduct}=="14ca", ENV{.MM_USBIFNUM}=="00", ENV{ID_MM_PORT_TYPE_MODEM}="1"
ATTRS{idVendor}=="12d1", ATTRS{idProduct}=="14ca", ENV{.MM_USBIFNUM}=="03", ENV{ID_MM_PORT_TYPE_AUX}="1"

# K4510
ATTRS{idVendor}=="12d1", ATTRS{idProduct}=="14cb", ENV{.MM_USBIFNUM}=="00", ENV{ID_MM_PORT_TYPE_MODEM}="1"
ATTRS{idVendor}=="12d1", ATTRS{idProduct}=="14cb", ENV{.MM_USBIFNUM}=="04", ENV{ID_MM_PORT_TYPE_AUX}="1"

# K4511
ATTRS{idVendor}=="12d1", ATTRS{idProduct}=="14cc", ENV{.MM_USBIFNUM}=="00", ENV{ID_MM_PORT_TYPE_MODEM}="1"
ATTRS{idVendor}=="12d1", ATTRS{idProduct}=="14cc", ENV{.MM_USBIFNUM}=="04", ENV{ID_MM_PORT_TYPE_AUX}="1"

LABEL="wader_huawei_tty_end"

LABEL="wader_huawei_end"
