# Used to tag the ports with their usage, based on USB interface numbers.
# This can remove the need to probe at all, but generally it's used to
# ensure that the data/modem port is identified

ACTION!="add|change", GOTO="wader_zte_end"
SUBSYSTEM!="tty", GOTO="wader_zte_end"

SUBSYSTEMS=="usb", ATTRS{idVendor}=="19d2", GOTO="wader_zte_vendormatch"
GOTO="wader_zte_end"

LABEL="wader_zte_vendormatch"
SUBSYSTEMS=="usb", ATTRS{idProduct}=="?*", ENV{.MM_PRODUCT}="$attr{idProduct}"

# ONDA MT503HS
ENV{.MM_PRODUCT}=="0002", ATTRS{bInterfaceNumber}=="02", ENV{ID_MM_PORT_TYPE_MODEM}="1"
ENV{.MM_PRODUCT}=="0002", ATTRS{bInterfaceNumber}=="04", ENV{ID_MM_PORT_TYPE_AUX}="1"

# MF668
ENV{.MM_PRODUCT}=="0017", ATTRS{bInterfaceNumber}=="02", ENV{ID_MM_PORT_TYPE_MODEM}="1"
ENV{.MM_PRODUCT}=="0017", ATTRS{bInterfaceNumber}=="01", ENV{ID_MM_PORT_TYPE_AUX}="1"

# MF626, MF636, MF637U and others
ENV{.MM_PRODUCT}=="0031", ATTRS{bInterfaceNumber}=="03", ENV{ID_MM_PORT_TYPE_MODEM}="1"
ENV{.MM_PRODUCT}=="0031", ATTRS{bInterfaceNumber}=="01", ENV{ID_MM_PORT_TYPE_AUX}="1"

# ONDA MSA405HS
ENV{.MM_PRODUCT}=="0037", ATTRS{bInterfaceNumber}=="03", ENV{ID_MM_PORT_TYPE_MODEM}="1"
ENV{.MM_PRODUCT}=="0037", ATTRS{bInterfaceNumber}=="01", ENV{ID_MM_PORT_TYPE_AUX}="1"
# K3520-Z
ENV{.MM_PRODUCT}=="0025", ATTRS{bInterfaceNumber}=="02", ENV{ID_MM_PORT_TYPE_MODEM}="1"
ENV{.MM_PRODUCT}=="0025", ATTRS{bInterfaceNumber}=="04", ENV{ID_MM_PORT_TYPE_AUX}="1"
ENV{.MM_PRODUCT}=="0055", ATTRS{bInterfaceNumber}=="02", ENV{ID_MM_PORT_TYPE_MODEM}="1"
ENV{.MM_PRODUCT}=="0055", ATTRS{bInterfaceNumber}=="04", ENV{ID_MM_PORT_TYPE_AUX}="1"
# K3565-Z
ENV{.MM_PRODUCT}=="0049", ATTRS{bInterfaceNumber}=="04", ENV{ID_MM_PORT_TYPE_MODEM}="1"
ENV{.MM_PRODUCT}=="0049", ATTRS{bInterfaceNumber}=="02", ENV{ID_MM_PORT_TYPE_AUX}="1"
ENV{.MM_PRODUCT}=="0052", ATTRS{bInterfaceNumber}=="03", ENV{ID_MM_PORT_TYPE_MODEM}="1"
ENV{.MM_PRODUCT}=="0052", ATTRS{bInterfaceNumber}=="01", ENV{ID_MM_PORT_TYPE_AUX}="1"
ENV{.MM_PRODUCT}=="0063", ATTRS{bInterfaceNumber}=="03", ENV{ID_MM_PORT_TYPE_MODEM}="1"
ENV{.MM_PRODUCT}=="0063", ATTRS{bInterfaceNumber}=="01", ENV{ID_MM_PORT_TYPE_AUX}="1"
# K3570-Z
ENV{.MM_PRODUCT}=="1008", ATTRS{bInterfaceNumber}=="03", ENV{ID_MM_PORT_TYPE_MODEM}="1"
ENV{.MM_PRODUCT}=="1008", ATTRS{bInterfaceNumber}=="01", ENV{ID_MM_PORT_TYPE_AUX}="1"
# K3571-Z
ENV{.MM_PRODUCT}=="1010", ATTRS{bInterfaceNumber}=="03", ENV{ID_MM_PORT_TYPE_MODEM}="1"
ENV{.MM_PRODUCT}=="1010", ATTRS{bInterfaceNumber}=="01", ENV{ID_MM_PORT_TYPE_AUX}="1"
# K3765-Z
ENV{.MM_PRODUCT}=="2002", ATTRS{bInterfaceNumber}=="03", ENV{ID_MM_PORT_TYPE_MODEM}="1"
ENV{.MM_PRODUCT}=="2002", ATTRS{bInterfaceNumber}=="01", ENV{ID_MM_PORT_TYPE_AUX}="1"
# K4505-Z
ENV{.MM_PRODUCT}=="0016", ATTRS{bInterfaceNumber}=="02", ENV{ID_MM_PORT_TYPE_MODEM}="1"
ENV{.MM_PRODUCT}=="0016", ATTRS{bInterfaceNumber}=="01", ENV{ID_MM_PORT_TYPE_AUX}="1"
ENV{.MM_PRODUCT}=="0104", ATTRS{bInterfaceNumber}=="03", ENV{ID_MM_PORT_TYPE_MODEM}="1"
ENV{.MM_PRODUCT}=="0104", ATTRS{bInterfaceNumber}=="01", ENV{ID_MM_PORT_TYPE_AUX}="1"

# MF180
ENV{.MM_PRODUCT}=="2003", ATTRS{bInterfaceNumber}=="03", ENV{ID_MM_PORT_TYPE_MODEM}="1"
ENV{.MM_PRODUCT}=="2003", ATTRS{bInterfaceNumber}=="01", ENV{ID_MM_PORT_TYPE_AUX}="1"

# MF181
ENV{.MM_PRODUCT}=="0117", ATTRS{bInterfaceNumber}=="02", ENV{ID_MM_PORT_TYPE_MODEM}="1"
ENV{.MM_PRODUCT}=="0117", ATTRS{bInterfaceNumber}=="01", ENV{ID_MM_PORT_TYPE_AUX}="1"

# MF190
ENV{.MM_PRODUCT}=="0082", ATTRS{bInterfaceNumber}=="03", ENV{ID_MM_PORT_TYPE_MODEM}="1"
ENV{.MM_PRODUCT}=="0082", ATTRS{bInterfaceNumber}=="01", ENV{ID_MM_PORT_TYPE_AUX}="1"
ENV{.MM_PRODUCT}=="0124", ATTRS{bInterfaceNumber}=="04", ENV{ID_MM_PORT_TYPE_MODEM}="1"
ENV{.MM_PRODUCT}=="0124", ATTRS{bInterfaceNumber}=="01", ENV{ID_MM_PORT_TYPE_AUX}="1"

LABEL="wader_zte_end"
