# original file from the MobileManager project
# imported in Wader by Pablo Martí on 10 Jul 2008

KERNEL=="ttyUSB[0-9]*" , ATTRS{idVendor}=="12d1", ATTRS{idProduct}=="1001", GROUP="uucp", MODE="0666", OPTIONS="last_rule"

SUBSYSTEM!="usb", GOTO="huawei_e169_rules_end"
ACTION!="add", GOTO="huawei_e169_rules_end"

ATTRS{idVendor}=="12d1", ATTRS{idProduct}=="1001", RUN+="/usr/sbin/usb_modeswitch -c /usr/share/wader-core/resources/config/huawei-E169.conf"

LABEL="huawei_e169_rules_end"

KERNEL=="ttyUSB[0-9]*" , ATTRS{idVendor}=="12d1", ATTRS{idProduct}=="1001", GROUP="uucp", MODE="0666", OPTIONS="last_rule"
