
# Vodafone (ZTE) K3805-Z
ACTION=="add", SUBSYSTEM=="net", ATTRS{idVendor}=="19d2", ATTRS{idProduct}=="1003", RUN="/sbin/ifconfig %k -arp"

# Vodafone (ZTE) K3806-Z
ACTION=="add", SUBSYSTEM=="net", ATTRS{idVendor}=="19d2", ATTRS{idProduct}=="1015", RUN="/sbin/ifconfig %k -arp"

# Vodafone (ZTE) K4510-Z
ACTION=="add", SUBSYSTEM=="net", ATTRS{idVendor}=="19d2", ATTRS{idProduct}=="1173", RUN="/sbin/ifconfig %k -arp"

# Vodafone (ZTE) K3770-Z
ACTION=="add", SUBSYSTEM=="net", ATTRS{idVendor}=="19d2", ATTRS{idProduct}=="1177", RUN="/sbin/ifconfig %k -arp"

# Vodafone (ZTE) K3772-Z
ACTION=="add", SUBSYSTEM=="net", ATTRS{idVendor}=="19d2", ATTRS{idProduct}=="1181", RUN="/sbin/ifconfig %k -arp"
