Source: wader
Priority: optional
Maintainer: Andrew Bird <ajb@spheresystems.co.uk>
Build-Depends: debhelper (>= 5), python-nose, python-m2crypto
Build-Depends-Indep: python-central (>= 0.5), python-setuptools, python-dbus, python-twisted-core, python-messaging (>= 0.5.11), python-tz
Standards-Version: 3.8.0
Homepage: http://www.wader-project.org
XS-Python-Version: >= 2.5

Package: wader-core
Architecture: all
Section: net
Replaces: vmc-core, modemmanager
Depends: python-wader, python (>= 2.5), ${python:Depends}, python-twisted-core, python-epsilon, python-serial, python-dbus, python-tz, python-m2crypto, python-messaging (>= 0.5.11), usb-modeswitch (>= 1.1.0), usb-modeswitch-data (>= 20100322), python-gudev, wvdial | network-manager (>=0.8), mobile-broadband-provider-info
Recommends: python-twisted-conch
Conflicts: modemmanager
Provides: modemmanager
XB-Python-Version: >= 2.5
Description: Internet connection assistant for mobile devices.
 Wader is a tool that manages 3G devices and mobile phones offering a dbus
 interface so other applications can use its services as connecting to the
 Internet, sending SMS, managing contacts, and such. This is the core
 package.
 .

Package: python-wader
Architecture: all
Section: python
Depends: python (>= 2.5), ${python:Depends}, python-epsilon, python-dbus, python-tz, python-m2crypto, python-messaging (>= 0.5.11), mobile-broadband-provider-info
Conflicts: wader-core (<= 0.5.8)
XB-Python-Version: >= 2.5
Description: Library that provides access to wader core
 This is the core package.
 .
