Source: wader-plugins-contacts-zyb
Priority: extra
Maintainer: David Francos Cuartero <yo.orco@gmail.com>
Build-Depends: debhelper (>= 7)
Build-Depends-Indep: python-central (>= 0.5), python-setuptools, python-dbus, python-twisted-core
Standards-Version: 3.8.1
Section: libs
Homepage: http://wader-project.org
XS-Python-Version: current

Package: wader-plugins-contacts-zyb
Section: libs
Architecture: any
Depends: wader-core
Description: Wader contact backend to ZYB online service.
 Povides wader with a backend for operating
 with contacts stored in ZYB online service database.
